@model IEnumerable<EfTest.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}


<div>
    <a asp-controller="Students" asp-action="Index">Student</a>
</div>
<br />
<div>
    <a asp-controller="Grades" asp-action="Index">Grade</a>
</div>
